services:

  producer:
    build:
      context: ./data_ingestion
      dockerfile: Dockerfile
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-broker-1:9092
    depends_on:
      kafka-broker-1:
        condition: service_healthy  
      cassandra:
        condition: service_healthy
    volumes:
      - ./data_ingestion:/app

  cassandra:
    build: 
      context: ./cassandra
      dockerfile: Dockerfile
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_CLUSTER_NAME: "FoodDeliveryCluster"
      CASSANDRA_USER: cassandra
      CASSANDRA_PASSWORD: cassandra
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -u cassandra -p cassandra -e 'DESCRIBE KEYSPACES'"]
      interval: 10s
      timeout: 10s
      retries: 30
    depends_on:
      - kafka-broker-1
    volumes:
      - cassandra_data:/var/lib/cassandra
    
  # cassandra-web:
  #   image: renaudhager/cassandra-ui:latest
  #   ports:
  #     - "3000:3000"
  #   command: ["--hosts", "cassandra", "--port", "9042", "-u", "cassandra", "-p", "cassandra"]
  #   depends_on:
  #     cassandra:
  #       condition: service_healthy

    
  spark-8:
    build:
      context: ./processing
      dockerfile: Dockerfile
    environment:
      S3_BUCKET: numa-delivery
      AWS_REGION: us-east-2
      AWS_ACCESS_KEY: ${AWS_ACCESS_KEY}
      AWS_SECRET_KEY: ${AWS_SECRET_KEY}
      SNOWFLAKE_USER: ${SNOWFLAKE_USER}
      SNOWFLAKE_PASSWORD: ${SNOWFLAKE_PASSWORD} 
    ports:
      - "8888:8888"
      - "7077:7077"
    env_file:
      - .env 
    volumes:
      - ./data_ingestion:/app
      - ./processing:/app 


  cassandra-consumer:
    build: ./data_ingestion
    command: python ./src/kafka_to_cassandra_consumer.py
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-broker-1:9092
      CASSANDRA_HOSTS: cassandra
      CASSANDRA_KEYSPACE: food_delivery
      PROTOCOL_VERSION: 5
    depends_on:
      cassandra:
        condition: service_healthy  # Wait for Cassandra to be ready
      kafka-broker-1:
        condition: service_started

  s3-consumer:
    build: ./data_ingestion
    command: python ./src/order_consumer.py
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-broker-1:9092
      S3_BUCKET: numa-delivery
      AWS_REGION: us-east-2
      AWS_ACCESS_KEY: ${AWS_ACCESS_KEY}
      AWS_SECRET_KEY: ${AWS_SECRET_KEY}
    env_file:
      - .env 
    depends_on:
      kafka-broker-1:
        condition: service_healthy  # Wait for Kafka healthcheck to pass
  
  
  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    environment:
      KAFKA_BROKERCONNECT: kafka-broker-1:9092
      SERVER_PORT: 9001
      JVM_OPTS: -Xms32M -Xmx64M
    ports:
      - "9001:9001"
    depends_on:
      - kafka-broker-1

  
  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1G
  
  kafka-broker-1:
    image: confluentinc/cp-kafka:latest
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-1:9092,INTERNAL://kafka-broker-1:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,INTERNAL://0.0.0.0:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics --bootstrap-server kafka-broker-1:9092 --list"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  kafka-setup:
    image: confluentinc/cp-kafka:latest
    depends_on:
      kafka-broker-1:
        condition: service_healthy
    command: |
      bash -c '
      echo "Waiting for Kafka to be ready..."
      cub kafka-ready -b kafka-broker-1:9092 1 30 &&
      echo "Creating topics..."
      /usr/bin/kafka-topics --create --topic food-delivery-orders-raw --bootstrap-server kafka-broker-1:9092 --partitions 1 --replication-factor 1 &&
      /usr/bin/kafka-topics --create --topic food-delivery-couriers-raw --bootstrap-server kafka-broker-1:9092 --partitions 1 --replication-factor 1 &&
      /usr/bin/kafka-topics --create --topic food-delivery-merchants-raw --bootstrap-server kafka-broker-1:9092 --partitions 1 --replication-factor 1 &&
      /usr/bin/kafka-topics --create --topic food-delivery-reviews-raw --bootstrap-server kafka-broker-1:9092 --partitions 1 --replication-factor 1 
      '
volumes:
  cassandra_data:



  # kafka-broker-2:
  #   image: confluentinc/cp-kafka:latest
  #   environment:
  #     KAFKA_BROKER_ID: 2
  #     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
  #     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-2:9093,INTERNAL://kafka-broker-2:29093
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
  #     KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093,INTERNAL://0.0.0.0:29093
  #     KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
  #     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
  #     KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
  #     KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 2
  #   depends_on:
  #     - zookeeper
  #   ports:
  #     - "9093:9093"
  #   healthcheck:
  #     test: ["CMD-SHELL", "kafka-topics --bootstrap-server localhost:9093 --list"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5
  #     start_period: 30s